.search__box {
  padding-top: 30px;
  position: relative;

  input {
    background-color: #202b3c;
    border: none;
    color: #fff !important;

    &:focus {
      background-color: #202b3c;
      border: none;
      outline: none;
    }
  }
  ul {
    background: #b6beca;
    padding: 0;
    position: absolute;
    z-index: 100;
    left: 0;
    right: 0;

    li {
      list-style-type: none;
      color: #000;
      padding: 10px 20px;
      &:hover {
        background-color: #ddd;
        cursor: pointer;
      }
    }
  }
}
